/**
 * ======================================================================
 * UTILITY CLASSES
 *
 * Based on: https://cube.fyi/utility.html
 * ======================================================================
 */

/**
 * ----------------------------------------------------------------------
 * Full-Width Background
 * ----------------------------------------------------------------------
 */

.full-background {
	--full-bg-color: transparent;
	border-image: conic-gradient(var(--full-bg-color, transparent) 0 0) fill 0 / 0 / 0 100vw;
}

.full-background-slanted {
	--full-bg-color: transparent;
	--angle: 2deg; /* it should be small */
	border-image: conic-gradient(var(--full-bg-color, transparent) 0 0) fill 0 / 0 / 9999px;
	clip-path: polygon(-9999px calc(tan(var(--angle, 0)) * 9999px), 9999px calc(tan(var(--angle, 0)) * -9999px), calc(100% + 9999px) calc(100% - tan(var(--angle, 0)) * 9999px), calc(100% - 9999px) calc(100% + tan(var(--angle, 0)) * 9999px));
}

/**
 * ----------------------------------------------------------------------
 * Visually Hidden
 * ----------------------------------------------------------------------
 */

.visually-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;

	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
	border: 0 !important;

	/* legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);

	/* modern browsers */
	clip-path: inset(50%);
}
