---
const today = new Date();
---

<footer class="flow constrained site-footer">
	<div class="wrapper">
		<p>
			<!-- &copy; {today.getFullYear()} -->
			Tim Oetjen – Traducteur indépendant
		</p>
	</div>
</footer>
