<footer class="flow constrained site-footer">
	<div class="wrapper">
		<p>Tim Oetjen — Traducteur indépendant</p>
		<p>
			Développé par <a
				href="https://germanfrelo.dev/"
				rel="external"
				>Germán Freixinós López</a
			>
		</p>
	</div>
</footer>
