---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isCurrentPage = href === pathname || href === "/" + subpath?.[0];
---

<a
	href={href}
	class:list={[className]}
	aria-current={isCurrentPage ? "page" : null}
	{...props}
>
	<slot />
</a>
