---
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<ul role="list">
			<li><HeaderLink href="/">Home</HeaderLink></li>
			<li><HeaderLink href="/blog">Blog</HeaderLink></li>
		</ul>
	</nav>
</header>
